@model User

<div class="row">
    <div class="col-6">
        <form asp-controller="User" asp-action="Store">
            <div class="mb-3">
                <label for="Name" class="form-label">Username </label>
                <input type="text" class="form-control" name="Name" placeholder="Name" autocomplete="off" />
            </div>
            <div class="mb-3">
                <label for="PhoneNumber" class="form-label"> Phone Number: </label> 
                <input type="number" class="form-control" name="PhoneNumber" placeholder="Phone number" autocomplete="off" />
            </div>
    <div class="mb-3">
        <label for="Password">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Choose a password">
    </div>
        <button type="submit" class="btn btn-success">Отправить</button></a>
</form>


</div>