<div class="container"></div>
    <div class="row"></div>
        <div class="col-6">
            <label for="search">
            <input type="search" class="form-control" placeholder="Izlash"> 
            <br>
            <i class="fa-sharp fa-solid fa-regular fa-magnifying-glass fa-shake"> Search</i>
            </label>
</div>
<div class="nav-test">
    <a href="https://www.instagram.com"><i class="fa-sharp fa-solid fa-camera-retro fa-bounce"></i></a> 
    <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
    <i class="fa-sharp fa-solid fa-comments"></i>
    <i class="fa-sharp fa-solid fa-cloud-arrow-up"></i>
</div>
    @* <div class="nav-poster">
        <img src="https://assets-prd.ignimgs.com/2023/02/15/john-wick-chapter-4-new-button-1676484016631.jpg"  alt="JW4">
    </div> *@
<br>

        <div id="carouselExampleIndicators" class="carousel slide carousel-fade"></div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="~/pics/image1.jpg" class="d-block w-100" alt="JW">
        <div class="carousel-caption d-none d-md-block">
            <h5>John Wick 4</h5>
            <p>Премьера скоро в хорошем качестве!</p>
        </div>

        <div class="carousel-item">
        <img src="~/pics/image2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="~/pics/image4.jfif" class="d-block w-100" alt="...">
        </div>

    <div>    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>