@model Movie 

@{
    ViewData["Title"] = "Добавить кино";
}

<div class="row">
    <div class="col-6">
        <form asp-controller="Movie" asp-action="Store">
            <div class="mb-3">
                <label for="Name" class="form-label">Название фильма: </label>
                <input type="text" class="form-control" name="Name" placeholder="Название фильма" autocomplete="off" />
            </div>
            <div class="mb-3">
                <label for="Year" class="form-label"> Год выпуска: </label> 
                <input type="number" class="form-control" name="Year" placeholder="Год выпуска" autocomplete="off" />
            </div>
    <div class="mb-3">
        <label for="Country">Country</label>
            <select name="Country" id="Country" class="form-select">
                <option value="ru">Russia</option>
                <option value="gb">Great Britain</option>
                <option value="us">USA</option>
                <option value="de">Deutschland</option>
            </select>
    </div>
        <button type="submit" class="btn btn-success">Отправить</button></a>
</form>
</div>